.Split-Background{
  height: 100vh;
  background: linear-gradient(
    to right,
    pink 0%,
    pink 50%,
    paleturquoise 50%,
    paleturquoise 100%
  );
  display: grid;
  justify-content: center;
  align-items: center;
}
.errorpage{
  height: 200px;
  width: 200px;
}